/* Source code: https://codepen.io/loktar00/pen/DdWxwL */
/* Add `PINE JUNGLE NIGHT` font */
@font-face {
    font-family: JUNGLE;
    src: url('PINE JUNGLE NIGHT.ttf') format('truetype');
    font-weight: 900;
}

/* Add `WildDreams` font */
@font-face {
    font-family: WildDreams;
    src: url("WildDreams.woff") format("woff");
    src: url('WildDreams.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: Raleway;
    src: url('RalewayMedium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('RalewayLight.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    height: 100dvh;
    color: #fff;
    overflow: hidden;
    font-size: 16px;
    font-family: WildDreams, Poppins, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0
}

.text-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.text-404 h1 {
    position: relative;
    padding: 0 25px;
    z-index: 2;
    font-size: 13em;
    -webkit-animation: Anim-404 ease-in-out infinite;
    -o-animation: Anim-404 ease-in-out infinite;
    animation: Anim-404 ease-in-out infinite;
}


.text-404 h1:nth-child(1) {
    animation-duration: 5s;
}

.text-404 h1:nth-child(2) {
    animation-duration: 10s;
}

.text-404 h1:nth-child(3) {
    animation-duration: 8s;
}

@keyframes Anim-404 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@media (max-width: 768px) {
    .text-404 h1 {
        font-size: 8em;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.subtext {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-align: center;
}

.sub {
    padding:0 15px;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 1em;
}

.sub-1 {
    padding:0 15px;  ;
    font-weight: 300;
    font-size: 1em;
}

.subtext-container {
    display: flex;
    flex-direction: column;
}

.main {
    font-size: 1.5em;
    display: flex;
    margin: 3em auto 3em auto;
}